.git
.gitignore
.env
.env.*
node_modules
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
.nul
IDE
.idea
.vscode
*.md
DEPLOYMENT.md
docker-compose.yml
Dockerfile
nginx.conf
.github
coverage
*.pem
*.key
